In [3]:
import pandas as pd
url ="https://www.treasury.gov.lk/web/state-accounts-department-circular/section/2019"
tables = pd.read_html(url)
len(tables)
print(f"found{len(tables)}tables")
tables[0].head()

found1tables

,Date,Circular No,Title,Download
0,11-11-2019,173/2004(I),භාණ්ඩාගාර මුද්‍රිත ගිණුම් ප්‍රකාශ (Printout) අ...,Download
1,11-11-2019,173/2004(I),Providing Treasury Monthly Accounting Statemen...,Download
2,29-10-2019,270/2019,பெறுமதிசேர் வரியை கணக்கு வைத்தல்,Download
3,29-10-2019,270/2019,Accounting of the Value Added Tax,Download
4,29-10-2019,270/2019,එකතු කළ අගය මත බදු ගිණුම්ගත කිරිම,Download

In [7]:
tables[0].to_csv("Circulars_2019",index=False)

In [8]:
import pandas as pd
url = "https://www.treasury.gov.lk/web/mof-internal-affairs-unit/section/composition%20of%20internal%20affairs%20unit%20"
tables = pd.read_html(url)
len(tables)
print(f"found{len(tables)}tables")
tables[0].head()

found1tables

,0,1,2
0,Serial No.,Positions of Internal Affairs Unit,Name of the Officer and Designation
1,01,Head of the Unit,Mrs. D.H.S. Pullaperuma Additional Secretary
2,02,Integrity Officer,Mr. M.M.C.P. Mohottigedera Additional Director...
3,03,Members,Mr.P.H.A.S.Wijayarathne Director General
4,04,Members,Mr. Bandula Abeyrathne Chief Internal Auditor

In [9]:
tables[0].to_csv("Internal_affairs_unit",index=False)